<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Edit Your Profile</h1>
      <%= form_for(@host) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <!-- ADD PASSWORD FIELDS HERE -->
        <!-- ADD PASSWORD FIELDS HERE -->
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
