<h1>Create a Host Account</h1>
<%= form_for(@host) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <!-- ADD PASSWORD FIELDS HERE -->
  <!-- ADD PASSWORD FIELDS HERE -->
  <%= f.submit %>
<% end %>
