      <%= form_for @event do |f| %>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Event Name" aria-label="Event Name" aria-describedby="basic-addon1" name="event[name]">
        </div><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Event Duration (in hours)" aria-label="Event Duration" aria-describedby="basic-addon1" name="event[duration]">
        </div><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Event City" aria-label="Event City" aria-describedby="basic-addon1" name="event[city]">
        </div><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Event State" aria-label="Event State" aria-describedby="basic-addon1" name="event[state]">
        </div><br>
        <div class="input-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Place description here" name="event[description]"></textarea>
        </div><br>
        <!-- <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Option two is disabled
          </label>
        </div> -->
        <div class="input-group">
          <%= f.date_field :date, class: 'form-control' %></div><br>
        <input id="hidden" type="hidden" name="event[host_id]" value="<%= session[:host_id] %>">
        <p><%= f.submit "Create Event", class: 'btn btn-primary' %></p>

      <% end %>
