<p>This event is closed and cannot accept entertainer applications any longer.</p>
<h2>Event Entertainers</h2>
<ul>
  <% @event.entertainers.each do |entertainer| %>
    <li><%= link_to entertainer.username, entertainer_path(entertainer) %></li>
  <% end %>
</ul>
