<p>Your event is closed and cannot accept entertainer applications any longer.</p>
<h2>Event Entertainers</h2>
<ul>
  <% @event.entertainers.each do |entertainer| %>
    <li><%= entertainer.username %></li>
  <% end %>
</ul>
