<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="form-group">
      <h1>Edit Your Event</h1>
      <%= render 'event' %>

    </div>
  </div>
</div>
