


<!DOCTYPE html>
<html lang="en">
<head>
  <style>

  h3 {font-size: 20px;}

p {font-size: 16px;}

  .center {
    margin-left: auto ;
    margin-right: auto ;
  }

  .bg-1 {
        background-image: url(carnival.png);
        color: #ffffff;
    }
  .bg-2 {
      /*background-image: url(carnival.png); Dark Blue*/
      background-image: url(balloons.jpg);
      background-size: cover;
      color: #ffffff;
  }
  .bg-3 {
      background-image: url(grass.png); /* Green */
      background-size: cover;
      color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav li a:hover {
      color: #1abc9c !important;
  }
  .margin {margin-bottom: 45px;}

  .btn-big-red {
  background-color: #C63702;
  background-image:
    linear-gradient(
      167deg,
      rgba(white, 0.1) 50%,
      rgba(black, 0) 55%),
    linear-gradient(
      top,
      rgba(white, 0.15),
      rgba(black, 0));
  border-radius: 6px;
  box-shadow:
    0 0 0 1px #C63702 inset,
    0 0 0 2px rgba(white, 0.15) inset,
    0 8px 0 0 #AD3002,
    0 8px 0 1px rgba(black, 0.4),
    0 8px 8px 1px rgba(black, 0.5);
  color: #FFF;
  display: inline-block;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  height: 91px;
  letter-spacing: -1px;
  line-height: 91px;
  margin: 30px 0 10px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px rgba(black, 0.5);
  text-decoration: none !important;
  top: 0;
  width: 246px;
  @include transition(0.15s);
  &:hover, &:focus {
    background-color: #D13902;
    box-shadow:
      0 0 0 1px #C63702 inset,
      0 0 0 2px rgba(white, 0.15) inset,
      0 10px 0 0 #AD3002,
      0 10px 0 1px rgba(black, 0.4),
      0 10px 8px 1px rgba(black, 0.6);
      top: -2px;
  }
  &:active {
    box-shadow:
      0 0 0 1px #AD3002 inset,
      0 0 0 2px rgba(white, 0.15) inset,
      0 0 0 1px rgba(black, 0.4);
    @include transform(translateY(10px));
  }
}


  </style>
  <title>Clownslist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" style="margin-bottom: 0;">
    <div class="container">
      <div class="navbar">
        <img src="balloon.png" class="navbar-brand" height="150" style="display:inline; padding:0;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="row" id="myNavbar">
        <ul class="nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#signup">SIGNUP</a></li>
          <li><a href="#testimonials">TESTIMONIALS</a></li>
          <li><a href="/login">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div id="about" class="container-fluid bg-2 text-center">
<img src="logo2.png" class="img-responsive" height="350" width="350" style="display:inline"><br><br><br><br><br>
<div class="center" style="width: 50%; background-color: #FFFFFF; border-radius: 25px;">
  <h1 class="margin" style="color: black;">What is Clownslist?</h1>
  <p style="color: black;">Clownslist is a brand new party planning platform!</p>
</div>
</div>
<div id="signup" class="container-fluid bg-1 text-center">
  <h1 style="color:#C63702" class="margin">Join For Free!</h1>
  <div class="row">
  <div class="col-sm-4">
  <div style="width: 50%; padding-top: 130px;" class="center"><a href="/host_signup" class="btn-big-red">Host</a></div>
  </div>
  <div class="col-sm-4">
  <img src="clown.png" class="img-responsive margin center" style="width:70%">
  </div>
  <div class="col-sm-4">
  <div style="width: 50%; padding-top: 130px;" class="center"><a href="entertainer_signup" class="btn-big-red">Entertainer</a></div>
  </div>
</div>
</div>
<div id="testimonials" class="container-fluid bg-3 text-center">
  <h1 style="color:white" class="margin">Testimonials</h1><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="ryan.jpg" class="img-circle img-responsive margin center" style="width:50%">
      <p style="color:white">"I used Clownslist for my son's birthday party and they sent a drunk. Our clown puked everywhere mid performance, passed out and crushed a guest on his way down. Broke the poor kid's arm. Have you ever heard 45 toddlers cry all at once? It was a disaster. I give Clownslist 5 ★'s"<br>-Ryan, single dad</p>
    </div>
    <div class="col-sm-4">
      <img src="jon.jpeg" class="img-circle img-responsive margin center" style="width:50%">
      <p style="color:white">"This is by far the most useful website ever created by human hands. I weep with gratitude for the immense utility delivered by these intrepid, brilliant creators."<br>-Jon, HTML/CSS Deputy</p>
    </div>
    <div class="col-sm-4">
      <img src="ian.png" class="img-circle img-responsive margin center" style="width:50%">
      <p style="color:white">"This is the world's greatest site.  Move over Craigslist."<br>-Ian, Clownslist lead dev</p>
    </div>
  </div>
  </div>
  <footer class="container-fluid bg-4 text-center">
    <span class="text-muted">© 2017 Jon Openshaw Ian Ramos Ryan Sperzel ALL RIGHTS RESERVED</span>
  </footer>

</body>
</html>
