

<!DOCTYPE html>
<html>
  <head>
    <style>
    html {
      background: url('party.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="width: 35%; text-align: center; margin: 0 auto; background: white;">

  <h1>Welcome</h1>

  <%= link_to "Log in", login_path %><br><br>

  <%= link_to "Entertainer Signup", entertainer_signup_path %> || <%= link_to "Host Signup", host_signup_path %>

  </div>
  </div>
  </body>
</html>
<div>


<!-- <%= video_tag "party.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %> -->
