

<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      background: url('party.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="content">

  <h1>Welcome</h1>

  <p><%= link_to "Log in", login_path, class: 'btn btn-primary' %></p>

  <p><%= link_to "Entertainer Signup", entertainer_signup_path, class: 'btn btn-primary' %> || <%= link_to "Host Signup", host_signup_path, class: 'btn btn-primary' %></p>

  </div>
  </div>
  </body>
</html>
<div>
