

<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      background: url('party.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="container">
  <h1>Welcome</h1>
  <div style="width: 5%; margin: 0 auto;">
  <%= link_to "Log in", login_path, class: 'btn btn-primary' %><br><br><br><br>
  </div>
  <div style="width: 60%; margin: 0 auto;">
  <%= link_to "Entertainer Signup", entertainer_signup_path, class: 'btn btn-primary float-left' %><%= link_to "Host Signup", host_signup_path, class: 'btn btn-primary float-right' %>
  </div>
</div>
  </body>
</html>
<div>
